<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>IGDTUW - DATA Hackathon 2k16</title>
    
    
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="form-style-5" style="width:45%;display: inline-block;margin-left:200px;background-color: azure;margin-top: 50px;border-radius: 22px;">
<form style="margin-top: 2em;">
<fieldset>
<legend><span class="number">1</span> Analyse a college</legend>
<!-- <input type="text" name="field1" placeholder="Your Name *">
<input type="email" name="field2" placeholder="Your Email *">
<textarea name="field3" placeholder="About yourself"></textarea> -->
<label for="job">College List:</label>
<select id="job" name="field4">

  <option value="igdtuw">Indira Gandhi Delhi Technical University , Delhi</option>
  <option value="iiitd">IIIT -Delhi</option>
  <option value="nsit">NSIT</option>
  <option value="dtu">Delhi Technical University</option>

 </select>    
</fieldset>
<input type="submit" value="Apply" />
</form>
<form style="margin-top: 2em;">
<fieldset>
<legend><span class="number">2</span> Compare the Colleges</legend>
<label for="job">College I :</label>
<select id="job" name="field5">

  <option value="igdtuw">Indira Gandhi Delhi Technical University , Delhi</option>
  <option value="iiitd">IIIT -Delhi</option>
  <option value="nsit">NSIT</option>
  <option value="dtu">Delhi Technical University</option>

 </select> 
 
 <label for="job">College II :</label>
<select id="job" name="field6">

  <option value="igdtuw">Indira Gandhi Delhi Technical University , Delhi</option>
  <option value="iiitd">IIIT -Delhi</option>
  <option value="nsit">NSIT</option>
  <option value="dtu">Delhi Technical University</option>

 </select> 
 
</fieldset>
<input type="submit" value="Apply" />
</form>
</div>

    
  </body>
</html>
